In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {}
for year in range(2016, 2022):
    data[year] = pd.read_csv("data/기상정보/" + str(year) + "_진주.csv", encoding = "cp949")

In [3]:
data[2016].head()

,지점,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),10분 최다강수량 시각(hhmi),...,평균 30cm 지중온도(°C),0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),안개 계속시간(hr)
0,192,2016-01-01,-0.1,-6.7,648,8.7,1423,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,192,2016-01-02,1.8,-3.6,732,10.8,1518,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,192,2016-01-03,4.0,-2.2,342,14.5,1519,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,192,2016-01-04,4.8,-0.3,43,15.0,1424,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,192,2016-01-05,0.5,-2.6,2343,4.9,1612,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [4]:
data[2021].head()

,지점,지점명,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),...,최저 초상온도(°C),평균 5cm 지중온도(°C),평균 10cm 지중온도(°C),평균 20cm 지중온도(°C),평균 30cm 지중온도(°C),0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C)
0,192,진주,2021-01-01,-1.9,-8.4,641,4.5,1349,NaN,NaN,...,-10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,192,진주,2021-01-02,-0.4,-4.6,114,5.6,1405,NaN,NaN,...,-7.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,192,진주,2021-01-03,0.1,-5.0,306,5.7,1455,NaN,NaN,...,-7.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,192,진주,2021-01-04,-1.5,-7.7,650,7.2,1436,NaN,NaN,...,-9.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,192,진주,2021-01-05,-0.4,-5.5,716,6.9,1147,NaN,NaN,...,-7.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
for year in range(2016, 2022):
    data[year] = data[year][["일시", "최저기온(°C)", "평균기온(°C)","최고기온(°C)",
                             "평균 풍속(m/s)", "최대 풍속(m/s)", "일강수량(mm)"]]

In [6]:
data[2021].head

<bound method NDFrame.head of              일시  최저기온(°C)  평균기온(°C)  최고기온(°C)  평균 풍속(m/s)  최대 풍속(m/s)  \
0    2021-01-01      -8.4      -1.9       4.5         1.2         3.9
1    2021-01-02      -4.6      -0.4       5.6         1.2         4.3
2    2021-01-03      -5.0       0.1       5.7         1.1         3.7
3    2021-01-04      -7.7      -1.5       7.2         0.4         1.9
4    2021-01-05      -5.5      -0.4       6.9         1.2         3.8
..          ...       ...       ...       ...         ...         ...
176  2021-06-26      18.8      22.2      28.0         0.7         2.3
177  2021-06-27      16.3      23.0      29.3         0.8         2.1
178  2021-06-28      20.5      24.5      30.1         1.0         3.0
179  2021-06-29      19.4      23.8      28.7         0.9         2.7
180  2021-06-30      19.6      23.8      29.5         0.9         2.7

     일강수량(mm)
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
..        ...
176       0.7
177       NaN
178       0.0
179       0.1
180       NaN

[181 rows x 7 columns]>

In [7]:
for year in range(2016, 2022):
    data[year] = data[year].fillna(data[year].mean())

In [8]:
data_concat = pd.concat(data).reset_index(drop = True)

In [9]:
data_concat.head()

           일시  최저기온(°C)  평균기온(°C)  최고기온(°C)  평균 풍속(m/s)  최대 풍속(m/s)  일강수량(mm)
0  2016-01-01      -6.7      -0.1       8.7         0.6         2.5   13.8768
1  2016-01-02      -3.6       1.8      10.8         0.5         1.7   13.8768
2  2016-01-03      -2.2       4.0      14.5         0.5         2.7   13.8768
3  2016-01-04      -0.3       4.8      15.0         0.7         3.4   13.8768
4  2016-01-05      -2.6       0.5       4.9         0.5         1.9    0.0000

In [10]:
data_concat.tail()

,일시,최저기온(°C),평균기온(°C),최고기온(°C),평균 풍속(m/s),최대 풍속(m/s),일강수량(mm)
2003,2021-06-26,18.8,22.2,28.0,0.7,2.3,0.700000
2004,2021-06-27,16.3,23.0,29.3,0.8,2.1,8.486441
2005,2021-06-28,20.5,24.5,30.1,1.0,3.0,0.000000
2006,2021-06-29,19.4,23.8,28.7,0.9,2.7,0.100000
2007,2021-06-30,19.6,23.8,29.5,0.9,2.7,8.486441

In [11]:
data_concat.to_csv('data/진주기상정보.csv', index=False, encoding='cp949')