In [2]:
import numpy as np
import pandas as pd

In [8]:
data = {}
for year in range(2016, 2022):
    data[year] = pd.read_csv("data/기상정보/" + str(year) + "_진주.csv", encoding = "cp949")

In [9]:
data[2016].head()

,지점,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),10분 최다강수량 시각(hhmi),...,평균 30cm 지중온도(°C),0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),안개 계속시간(hr)
0,192,2016-01-01,-0.1,-6.7,648,8.7,1423,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,192,2016-01-02,1.8,-3.6,732,10.8,1518,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,192,2016-01-03,4.0,-2.2,342,14.5,1519,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,192,2016-01-04,4.8,-0.3,43,15.0,1424,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,192,2016-01-05,0.5,-2.6,2343,4.9,1612,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [11]:
data[2021].head()

,지점,지점명,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),...,0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),기사,안개 계속시간(hr)
0,192,진주,2021-01-29,-2.3,-6.0,733,3.0,1502,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.8,2.6,NaN,NaN,NaN
1,192,진주,2021-01-30,-0.3,-9.2,713,9.1,1456,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.3,1.8,NaN,NaN,NaN
2,192,진주,2021-01-31,3.1,-6.0,702,12.2,1433,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.4,2.1,17.0,NaN,NaN
3,192,진주,2021-02-01,7.5,4.3,1,10.6,1111,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,1.5,NaN,NaN,NaN
4,192,진주,2021-02-02,0.4,-5.2,2359,7.5,13,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.1,3.0,NaN,NaN,NaN

In [13]:
for year in range(2016, 2022):
    data[year] = data[year][["일시", "최저기온(°C)", "평균기온(°C)","최고기온(°C)",
                             "평균 풍속(m/s)", "최대 풍속(m/s)", "일강수량(mm)"]]

In [15]:
for year in range(2016, 2022):
    data[year] = data[year].fillna(0)

In [19]:
data_concat = pd.concat(data).reset_index(drop = True)

In [20]:
data_concat.head()

           일시  최저기온(°C)  평균기온(°C)  최고기온(°C)  평균 풍속(m/s)  최대 풍속(m/s)  일강수량(mm)
0  2016-01-01      -6.7      -0.1       8.7         0.6         2.5       0.0
1  2016-01-02      -3.6       1.8      10.8         0.5         1.7       0.0
2  2016-01-03      -2.2       4.0      14.5         0.5         2.7       0.0
3  2016-01-04      -0.3       4.8      15.0         0.7         3.4       0.0
4  2016-01-05      -2.6       0.5       4.9         0.5         1.9       0.0

In [21]:
data_concat.tail()

,일시,최저기온(°C),평균기온(°C),최고기온(°C),평균 풍속(m/s),최대 풍속(m/s),일강수량(mm)
1853,2021-02-24,-2.3,3.6,11.6,0.5,1.6,0.0
1854,2021-02-25,-1.4,4.3,8.3,0.6,2.2,2.6
1855,2021-02-26,4.9,8.7,13.9,1.5,4.3,2.4
1856,2021-02-27,3.4,7.4,12.5,1.6,4.6,0.0
1857,2021-02-28,2.6,7.4,11.8,0.9,2.4,0.2

In [22]:
data_concat.to_csv('data/진주기상정보.csv', index=False, encoding='cp949')